<h1> Simple Stocks </h1>

<br>
<h3>Name: <%= @add_stock.name %></h3>
<h4>Date: <%= @add_stock.date %></h4>
<h2>Symbol: <%= @add_stock.symbol %></h2>
<h4>Ask Price: <%= @add_stock.ask %></h4>
<h4>Bid Price: <%= @add_stock.bid %></h4>
<h4>Year High: <%= @add_stock.year_high %></h4>
<h4>Year Low: <%= @add_stock.year_low %></h4>
<h2>Day's Change in Percent: <%= @add_stock.changein_percent %></h2>