<h3><%= button_to "Link To Portfolio Page", "/portfolio", method: :get %>

<h1> Simple Stocks </h1>


<div id="app">
	<br>
	New Stock: <input type="text" v-model="newStock">
	<button v-on:click="sendStock"> See Stock </button>
	<br>
	<button v-if="this.portfolio" v-on:click="saveStock"> Save Stock </button>
	<br>

</div>
<%= button_to "Search By Keyword", "/stocks/search", method: :get %>
<br>


<% if !session[:id] %>
	<div class="loginlogout">
		<h3>Sign into Account !@port</h3>
		<%= form_tag "/portfolio/sessions", method: :post do %>
			<div>
			Account Name: <input type="text" name="account_name">
			</div>
		<br>
			<div>
			Password: <input type="password" name="password">
			</div>
		<br>
			<div>
			<input type="submit" value="Login">
			<br>
			</div>
		<% end %>
	</div>
<% end %>
<div class="loginlogout">
	<% if session[:id] %>
		<p> Welcome To Your Account: <%= @port.account_name %></p>
		Search Stock By Symbol: <input type="text" v-model="newStock">
			<button v-on:click="sendStock"> See Stock </button>
			<br>
			<button v-if="this.portfolio" v-on:click="saveStock"> Save Stock </button>
			<br>




		<br>

	<% end %>
</div>

<%if session[:id] %>
	<%= button_to "Sign out of Account", "/portfolio/sessions/destroy", method: :get %>
<% end %>